{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}

	{% block title %}
		Ajouter une annonce - {{ parent() }}
	{% endblock %}

	{{ include("OCPlatformBundle:Advert:form.html.twig") }}

	<p>
		Attention : cette annonce sera ajoutée directement
		sur la page d'accueil après validation du formulaire.
	</p>

{% endblock %}